MyFirstUniversalApp/MyFirstUniversalApp_/Service References/ServiceReference1/ServiceData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7407/ServiceData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceLayerUWP" />
  <xs:element name="GetData_">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData_Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLayerUWP" minOccurs="0" name="GetData_Result" nillable="true" type="q1:ArrayOfSomeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddData_">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Age" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddData_Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddData_Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>